In [1]:
import pandas as pd
import numpy as np
import os

DATASETS #1

In [ ]:
VARIABLE POTENCIAL DE ANÁLISIS:

  Evaluar y comprender el rendimiento de ventas para tomar decisiones estratégicas informadas y mejorar la rentabilidad del negocio.

  Las posibles variables a análizar pordrían ser:

  *Comportamiento del volumen de ventas.
  *Productos y categorías con mayor venta.
  *Impacto de promociones.
  *Rentabilidad de cada rubro o producto.

In [5]:
nueva_ruta = 'C:\\Users\\gerson.molina\\Desktop\\Data Scientis\\Datasets'
os.chdir(nueva_ruta)

df_amazonsales = pd.read_excel("Amazon_Sales_Report.xlsx")
print(df_amazonsales.head())

   index             Order ID      Date                        Status  \
0      0  405-8078784-5731545  04-30-22                     Cancelled
1      1  171-9198151-1101146  04-30-22  Shipped - Delivered to Buyer
2      2  404-0687676-7273146  04-30-22                       Shipped
3      3  403-9615377-8133951  04-30-22                     Cancelled
4      4  407-1069790-7240320  04-30-22                       Shipped

  Fulfilment Sales Channel  ship-service-level    Style              SKU  \
0   Merchant      Amazon.in           Standard   SET389   SET389-KR-NP-S
1   Merchant      Amazon.in           Standard  JNE3781  JNE3781-KR-XXXL
2     Amazon      Amazon.in          Expedited  JNE3371    JNE3371-KR-XL
3   Merchant      Amazon.in           Standard    J0341       J0341-DR-L
4     Amazon      Amazon.in          Expedited  JNE3671  JNE3671-TU-XXXL

        Category  ... currency  Amount    ship-city   ship-state  \
0            Set  ...      INR  647.62       MUMBAI  MAHARASHTRA
1          kurta  ...      INR  406.00    BENGALURU    KARNATAKA
2          kurta  ...      INR  329.00  NAVI MUMBAI  MAHARASHTRA
3  Western Dress  ...      INR  753.33   PUDUCHERRY   PUDUCHERRY
4            Top  ...      INR  574.00      CHENNAI   TAMIL NADU

  ship-postal-code  ship-country  \
0         400081.0            IN
1         560085.0            IN
2         410210.0            IN
3         605008.0            IN
4         600073.0            IN

                                       promotion-ids    B2B  fulfilled-by  \
0                                                NaN  False     Easy Ship
1  Amazon PLCC Free-Financing Universal Merchant ...  False     Easy Ship
2       IN Core Free Shipping 2015/04/08 23-48-5-108   True           NaN
3                                                NaN  False     Easy Ship
4                                                NaN  False           NaN

  Unnamed: 22
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

[5 rows x 24 columns]

In [4]:
print(df_amazonsales.shape)

(128975, 24)

DATASETS #2

VARIABLE POTENCIAL DE ANÁLISIS:

 Se podría determinar variables para análizar como:
 
 *Educación: comprender y mejorar el sistema educativo, identificar desigualdades en la educación y desarrollar estrategias efectivas para abordar estos problemas.
 
 *Tasa de Desempleo: comprender la persistencia del desempleo y desarrollar estrategias para abordar los desafíos relacionados con el empleo a largo plazo.

In [6]:
nueva_ruta = 'C:\\Users\\gerson.molina\\Desktop\\Data Scientis\\Datasets'
os.chdir(nueva_ruta)

df_worlddata = pd.read_excel("World-data-2023.xlsx")
print(df_worlddata.head())

      (P/Km2)"  Abbreviation Agricultural Land( %) Land Area(Km2)  \
0  Afghanistan          60.0                    AF         58.10%
1      Albania         105.0                    AL         43.10%
2      Algeria          18.0                    DZ         17.40%
3      Andorra         164.0                    AD         40.00%
4       Angola          26.0                    AO         47.50%

  Armed Forces size Birth Rate  Calling Code  Capital/Major City  \
0            652.23        323         32.49                93.0
1            28.748          9         11.78               355.0
2         2,381,741        317         24.28               213.0
3               468        NaN          7.20               376.0
4         1,246,700        117         40.73               244.0

      Co2-Emissions      CPI  ... Physicians per thousand Population  \
0             Kabul    8.672  ...                  78.40%       0.28
1            Tirana    4.536  ...                  56.90%       1.20
2           Algiers  150.006  ...                  28.10%       1.72
3  Andorra la Vella      469  ...                  36.40%       3.33
4            Luanda   34.693  ...                  33.40%       0.21

  Population: Labor force participation (%)  Tax revenue (%) Total tax rate  \
0                                38,041,754           48.90%          9.30%
1                                 2,854,191           55.70%         18.60%
2                                43,053,054           41.20%         37.20%
3                                    77.142              NaN            NaN
4                                31,825,295           77.50%          9.20%

  Unemployment rate Urban_population    Latitude   Longitude  Unnamed: 34
0            71.40%           11.12%   9,797,273   3393911.0   67709953.0
1            36.60%           12.33%   1,747,593  41153332.0   20168331.0
2            66.10%           11.70%  31,510,100  28033886.0    1659626.0
3               NaN              NaN      67.873  42506285.0    1521801.0
4            49.10%            6.89%  21,061,025 -11202692.0   17873887.0

[5 rows x 35 columns]

In [7]:
print(df_worlddata.shape)

(195, 35)

DATASETS #3

VARIABLE POTENCIAL DE ANÁLISIS:

  Comprender el comportamiento operativo y la satisfacción del cliente y cómo mejorar la eficiencia operativa y tomar decisiones estratégicas que puedan impulsar el éxito y el crecimiento del negocio.

  Se podría análizar variables cómo:

  *Gestión de Operaciones de los vuelos.
  *Eficiencia operativa y puntualidad.
  *Segmentación del Mercado.
  *Satisfacción del Cliente.
  *Estrategias de Marketing.

In [9]:
nueva_ruta = 'C:\\Users\\gerson.molina\\Desktop\\Data Scientis\\Datasets'
os.chdir(nueva_ruta)

df_airlinedata = pd.read_excel("Airline_Dataset.xlsx")
print(df_airlinedata.head())

   Passenger ID First Name Last Name  Gender   Age Nationality  \
0         10856     Edithe    Leggis  Female  62.0       Japan
1         43872     Elwood      Catt    Male  62.0   Nicaragua
2         42633      Darby   Felgate    Male  67.0      Russia
3         78493   Dominica      Pyle  Female  71.0       China
4         82072        Bay   Pencost    Male  21.0       China

                Airport Name Airport Country Code   Country Name  \
0           Coldfoot Airport                   US  United States
1          Kugluktuk Airport                   CA         Canada
2    Grenoble-IsÃ¨re Airport                   FR         France
3  Ottawa / Gatineau Airport                   CA         Canada
4            Gillespie Field                   US  United States

  Airport Continent     Continents Departure Date Arrival Airport  \
0               NAM  North America      6/28/2022             CXF
1               NAM  North America     12/26/2022             YCO
2                EU         Europe      1/18/2022             GNB
3               NAM  North America      9/16/2022             YND
4               NAM  North America      2/25/2022             SEE

      Pilot Name Flight Status
0  Edithe Leggis       On Time
1    Elwood Catt       On Time
2  Darby Felgate       On Time
3  Dominica Pyle       Delayed
4    Bay Pencost       On Time

In [10]:
print(df_airlinedata.shape)

(98619, 15)